
\.vs/rdman/v15/\.suo

\.vs/rdman/v15/Server/sqlite3/db\.lock

\.vs/rdman/v15/Server/sqlite3/storage\.ide

\.vs/rdman/v15/Server/sqlite3/storage\.ide-shm

\.vs/rdman/v15/Server/sqlite3/storage\.ide-wal

rdman/bin/Debug/app\.publish/rdman\.exe

rdman/bin/Debug/asciiGraphics/0\.txt

rdman/bin/Debug/asciiGraphics/1\.txt

rdman/bin/Debug/asciiGraphics/2\.txt

rdman/bin/Debug/asciiGraphics/3\.txt

rdman/bin/Debug/asciiGraphics/4\.txt

rdman/bin/Debug/icons/android\.ico

rdman/bin/Debug/icons/apple\.ico

rdman/bin/Debug/icons/code\.ico

rdman/bin/Debug/icons/linux\.ico

rdman/bin/Debug/icons/unknown\.ico

rdman/bin/Debug/icons/windows\.ico

rdman/bin/Debug/LICENSE

rdman/bin/Debug/modules/csved/backup\.uniCSVed\.ini

rdman/bin/Debug/modules/csved/uniCSVed\.dat

rdman/bin/Debug/modules/csved/uniCSVed\.exe

rdman/bin/Debug/modules/csved/uniCSVed\.ini

rdman/bin/Debug/modules/fighter/explode\.wav

rdman/bin/Debug/modules/fighter/fighter\.exe

rdman/bin/Debug/modules/fighter/rocket\.wav

rdman/bin/Debug/modules/greenshot/checksum\.MD5

rdman/bin/Debug/modules/greenshot/greenshot-defaults\.ini

rdman/bin/Debug/modules/greenshot/greenshot-fixed\.ini

rdman/bin/Debug/modules/greenshot/Greenshot\.exe

rdman/bin/Debug/modules/greenshot/Greenshot\.exe\.config

rdman/bin/Debug/modules/greenshot/greenshot\.ini

rdman/bin/Debug/modules/greenshot/GreenshotPlugin\.dll

rdman/bin/Debug/modules/greenshot/installer\.txt

rdman/bin/Debug/modules/greenshot/Languages/help-en-US\.html

rdman/bin/Debug/modules/greenshot/Languages/language-en-US\.xml

rdman/bin/Debug/modules/greenshot/license\.txt

rdman/bin/Debug/modules/greenshot/log4net\.dll

rdman/bin/Debug/modules/greenshot/log4net\.xml

rdman/bin/Debug/modules/greenshot/readme\.txt

rdman/bin/Debug/modules/mikroftp/mikroftp\.exe

rdman/bin/Debug/modules/mikroftp/share/welcome\.txt

rdman/bin/Debug/modules/putty/pageant\.exe

rdman/bin/Debug/modules/putty/plink\.exe

rdman/bin/Debug/modules/putty/pscp\.exe

rdman/bin/Debug/modules/putty/psftp\.exe

rdman/bin/Debug/modules/putty/putty\.chm

rdman/bin/Debug/modules/putty/putty\.cnt

rdman/bin/Debug/modules/putty/putty\.exe

rdman/bin/Debug/modules/putty/putty\.hlp

rdman/bin/Debug/modules/putty/puttygen\.exe

rdman/bin/Debug/rdman\.application

rdman/bin/Debug/rdman\.exe

rdman/bin/Debug/rdman\.exe\.config

rdman/bin/Debug/rdman\.exe\.manifest

rdman/bin/Debug/rdman\.pdb

rdman/bin/Debug/RDPTemplate\.rdp

rdman/bin/Debug/sources\.rdman

rdman/bin/Debug/sources\.rdman\.bak

rdman/bin/Release/app\.publish/rdman\.exe

rdman/bin/Release/asciiGraphics/0\.txt

rdman/bin/Release/asciiGraphics/1\.txt

rdman/bin/Release/asciiGraphics/2\.txt

rdman/bin/Release/asciiGraphics/3\.txt

rdman/bin/Release/asciiGraphics/4\.txt

rdman/bin/Release/icons/android\.ico

rdman/bin/Release/icons/apple\.ico

rdman/bin/Release/icons/code\.ico

rdman/bin/Release/icons/linux\.ico

rdman/bin/Release/icons/unknown\.ico

rdman/bin/Release/icons/windows\.ico

rdman/bin/Release/LICENSE

rdman/bin/Release/modules/csved/backup\.uniCSVed\.ini

rdman/bin/Release/modules/csved/uniCSVed\.dat

rdman/bin/Release/modules/csved/uniCSVed\.exe

rdman/bin/Release/modules/csved/uniCSVed\.ini

rdman/bin/Release/modules/fighter/explode\.wav

rdman/bin/Release/modules/fighter/fighter\.exe

rdman/bin/Release/modules/fighter/rocket\.wav

rdman/bin/Release/modules/greenshot/checksum\.MD5

rdman/bin/Release/modules/greenshot/greenshot-defaults\.ini

rdman/bin/Release/modules/greenshot/greenshot-fixed\.ini

rdman/bin/Release/modules/greenshot/Greenshot\.exe

rdman/bin/Release/modules/greenshot/Greenshot\.exe\.config

rdman/bin/Release/modules/greenshot/greenshot\.ini

rdman/bin/Release/modules/greenshot/GreenshotPlugin\.dll

rdman/bin/Release/modules/greenshot/installer\.txt

rdman/bin/Release/modules/greenshot/Languages/help-en-US\.html

rdman/bin/Release/modules/greenshot/Languages/language-en-US\.xml

rdman/bin/Release/modules/greenshot/license\.txt

rdman/bin/Release/modules/greenshot/log4net\.dll

rdman/bin/Release/modules/greenshot/log4net\.xml

rdman/bin/Release/modules/greenshot/readme\.txt

rdman/bin/Release/modules/mikroftp/mikroftp\.exe

rdman/bin/Release/modules/mikroftp/share/welcome\.txt

rdman/bin/Release/modules/putty/pageant\.exe

rdman/bin/Release/modules/putty/plink\.exe

rdman/bin/Release/modules/putty/pscp\.exe

rdman/bin/Release/modules/putty/psftp\.exe

rdman/bin/Release/modules/putty/putty\.chm

rdman/bin/Release/modules/putty/putty\.cnt

rdman/bin/Release/modules/putty/putty\.exe

rdman/bin/Release/modules/putty/putty\.hlp

rdman/bin/Release/modules/putty/puttygen\.exe

rdman/bin/Release/rdman\.application

rdman/bin/Release/rdman\.exe

rdman/bin/Release/rdman\.exe\.config

rdman/bin/Release/rdman\.exe\.manifest

rdman/bin/Release/RDPTemplate\.rdp

rdman/bin/Release/sources\.rdman

rdman/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

rdman/obj/Debug/rdman\.aboutForm\.resources

rdman/obj/Debug/rdman\.application

rdman/obj/Debug/rdman\.colorStatistics\.resources

rdman/obj/Debug/rdman\.commandValueInput\.resources

rdman/obj/Debug/rdman\.exe

rdman/obj/Debug/rdman\.exe\.manifest

rdman/obj/Debug/rdman\.mainForm\.resources

rdman/obj/Debug/rdman\.pdb

rdman/obj/Debug/rdman\.processPreview\.resources

rdman/obj/Debug/rdman\.Resources\.resources

rdman/obj/Debug/rdman\.vbproj\.CoreCompileInputs\.cache

rdman/obj/Debug/rdman\.vbproj\.FileListAbsolute\.txt

rdman/obj/Debug/rdman\.vbproj\.GenerateResource\.cache

rdman/obj/Debug/TempPE/My Project\.Resources\.Designer\.vb\.dll

rdman/obj/Release/DesignTimeResolveAssemblyReferences\.cache

rdman/obj/Release/DesignTimeResolveAssemblyReferencesInput\.cache

rdman/obj/Release/rdman\.aboutForm\.resources

rdman/obj/Release/rdman\.application

rdman/obj/Release/rdman\.colorStatistics\.resources

rdman/obj/Release/rdman\.commandValueInput\.resources

rdman/obj/Release/rdman\.exe

rdman/obj/Release/rdman\.exe\.manifest

rdman/obj/Release/rdman\.mainForm\.resources

rdman/obj/Release/rdman\.processPreview\.resources

rdman/obj/Release/rdman\.Resources\.resources

rdman/obj/Release/rdman\.vbproj\.CoreCompileInputs\.cache

rdman/obj/Release/rdman\.vbproj\.FileListAbsolute\.txt

rdman/obj/Release/rdman\.vbproj\.GenerateResource\.cache

rdman/obj/Release/rdman\.vbprojAssemblyReference\.cache

rdman/obj/Release/TempPE/My Project\.Resources\.Designer\.vb\.dll

rdman/obj/Release/

rdman-bangkok/bin/Debug/rdman-bangkok\.exe

rdman-bangkok/bin/Debug/rdman-bangkok\.exe\.config

rdman-bangkok/bin/Debug/rdman-bangkok\.pdb

rdman-bangkok/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

rdman-bangkok/obj/Debug/rdman_bangkok\.baseForm\.resources

rdman-bangkok/obj/Debug/rdman_bangkok\.Properties\.Resources\.resources

rdman-bangkok/obj/Debug/rdman-bangkok\.csproj\.CoreCompileInputs\.cache

rdman-bangkok/obj/Debug/rdman-bangkok\.csproj\.FileListAbsolute\.txt

rdman-bangkok/obj/Debug/rdman-bangkok\.csproj\.GenerateResource\.cache

rdman-bangkok/obj/Debug/rdman-bangkok\.exe

rdman-bangkok/obj/Debug/rdman-bangkok\.pdb

rdman/bin/Debug/modules/greenshot/Languages/help-de-DE\.html

rdman/bin/Debug/modules/greenshot/Languages/help-nl-NL\.html

rdman/bin/Debug/modules/greenshot/Languages/language-cs-CZ\.xml

rdman/bin/Debug/modules/greenshot/Languages/language-de-DE\.xml

rdman/bin/Debug/modules/greenshot/Languages/language-nl-NL\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-cs-CZ\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-de-DE\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-en-US\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-fr-FR\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-id-ID\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-it-IT\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-kab-DZ\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-ko-KR\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-lv-LV\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-pl-PL\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-pt-PT\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-ru-RU\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-sk-SK\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-sr-RS\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-sv-SE\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-uk-UA\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-zh-CN\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotExternalCommandPlugin/language_externalcommandplugin-zh-TW\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-cs-CZ\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-de-DE\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-en-US\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-fr-FR\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-id-ID\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-it-IT\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-kab-DZ\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-ko-KR\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-lv-LV\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-nl-NL\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-pl-PL\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-pt-PT\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-ru-RU\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-sk-SK\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-sr-RS\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-sv-SE\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-uk-UA\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-zh-CN\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotImgurPlugin/language_imgurplugin-zh-TW\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-cs-CZ\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-de-DE\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-en-US\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-fr-FR\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-id-ID\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-it-IT\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-kab-DZ\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-ko-KR\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-lv-LV\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-nl-NL\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-pl-PL\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-pt-PT\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-ru-RU\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-sk-SK\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-sr-RS\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-sv-SE\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-uk-UA\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-zh-CN\.xml

rdman/bin/Debug/modules/greenshot/Languages/Plugins/GreenshotOCRPlugin/language_ocrplugin-zh-TW\.xml

rdman/bin/Debug/modules/greenshot/LinqBridge\.dll

rdman/bin/Debug/modules/greenshot/Plugins/GreenshotExternalCommandPlugin/GreenshotExternalCommandPlugin\.gsp

rdman/bin/Debug/modules/greenshot/Plugins/GreenshotImgurPlugin/GreenshotImgurPlugin\.gsp

rdman/bin/Debug/modules/greenshot/Plugins/GreenshotOCRPlugin/GreenshotOCRCommand\.exe

rdman/bin/Debug/modules/greenshot/Plugins/GreenshotOCRPlugin/GreenshotOCRCommand\.exe\.config

rdman/bin/Debug/modules/greenshot/Plugins/GreenshotOCRPlugin/GreenshotOCRPlugin\.gsp

rdman/bin/Debug/modules/greenshot/Plugins/GreenshotOfficePlugin/GreenshotOfficePlugin\.gsp

rdman/bin/Debug/modules/putty/x32/PAGEANT\.EXE

rdman/bin/Debug/modules/putty/x32/PLINK\.EXE

rdman/bin/Debug/modules/putty/x32/PSCP\.EXE

rdman/bin/Debug/modules/putty/x32/PSFTP\.EXE

rdman/bin/Debug/modules/putty/x32/PUTTY\.CHM

rdman/bin/Debug/modules/putty/x32/PUTTY\.EXE

rdman/bin/Debug/modules/putty/x32/PUTTYGEN\.EXE

rdman/bin/Debug/modules/putty/x64/PAGEANT\.EXE

rdman/bin/Debug/modules/putty/x64/PLINK\.EXE

rdman/bin/Debug/modules/putty/x64/PSCP\.EXE

rdman/bin/Debug/modules/putty/x64/PSFTP\.EXE

rdman/bin/Debug/modules/putty/x64/PUTTY\.CHM

rdman/bin/Debug/modules/putty/x64/PUTTY\.EXE

rdman/bin/Debug/modules/putty/x64/PUTTYGEN\.EXE

rdman/bin/Debug/modules/tightvnc/tvnviewer\.exe

rdman/obj/Debug/rdman\.vbprojAssemblyReference\.cache
