
.vs/rdman/FileContentIndex/

.vs/rdman/v17/

rdman/bin/Release/app.publish/

rdman/bin/Release/

rdman/obj/Release/

rdman/bin/Debug/

rdman/obj/Debug/

publish/

rdman/rdman_2_TemporaryKey.pfx

AppBarHelper/bin/

AppBarHelper/obj/

AppBarHelper/.vs/

RdpEncrypt/bin/

RdpEncrypt/obj/
