<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rdman.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <rdman.My.MySettings>
            <setting name="positionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="positionLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="isMaximized" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="lastDb" serializeAs="String">
                <value>sources.rdman</value>
            </setting>
            <setting name="askOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="updateOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="consoleBgColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="consoleTextColor" serializeAs="String">
                <value>LawnGreen</value>
            </setting>
            <setting name="consoleFontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="showPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="closeChilds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="compactMode" serializeAs="String">
                <value>False</value>
            </setting>
        </rdman.My.MySettings>
    </userSettings>
</configuration>
